/GitTest/nbproject/private/
/GitTest/build/
/Database-Test/nbproject/private/
/Database-Test/build/
/CreativeWirhStrings/nbproject/private/
/CreativeWithStrings/nbproject/private/
/CreativeWithStrings/build/
